<!-- <div class="toolbar">
  <div class="sub">
    <button routerLink="/home">HOME</button>
    <button routerLink="/contact">CONTACT</button>
    <button routerLink="/about">ABOUT</button>
    <button routerLink="/blog">BLOG</button>
  </div>
</div> -->

<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <!-- <button mat-button routerLink="/home">HOME</button> -->
  <button mat-button routerLink="/contact">CONTACT</button>
  <button mat-button routerLink="/about">ABOUT</button>
  <button mat-button routerLink="/blog">BLOG</button>
</mat-toolbar>

<router-outlet></router-outlet>
